{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
	<div class="content-section">
  	 	<h2 class="font-weight-bold mt-3">Jelszó megváltoztatása</h2>
		<p>Elfelejtetted a jelszavadat? Írd be az e-mail címed, és email-ben elküldjük az új beállításához szükséges utasításokat.</p>
        <form method="POST">
            {% csrf_token %}
            {{ form|crispy }}
            <button class="btn btn-primary" type="submit">Küldés</button>
        </form>
  	</div>
{% endblock %}