body{
background: #EFF6EE !important;
padding-top: 0px !important;
}

.info-bar {
      background-color: rgba(221, 4, 38, 1);
      padding: 5px 0;
      text-align: left;
    }
    .info-bar a {
      color: #ffff;
      text-decoration: none;
      margin-right: 15px;
    }
     .info-item {
      display: flex;
      align-items: center;
    }
    .info-item img {
      margin-right: 5px;
    }

.my_navbar{
    background-color: rgba(255, 255, 255, 1) !important;

}

.active{
  color: #F02D3A !important;
  
}

.nav-item{
  font-size: 1.5rem;
}

.myfooter{
  background-color: #3B4454;
  color: #ffff !important;
}

.text-white {
  color: #ffff !important;
}

.subscribe-card {
  background-color: #B3BBBB;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 30px;
  text-align: center;
  transition: transform 0.3s;
  position: relative;
  z-index: 10;
  margin-top: -100px;
}
.subscribe-card:hover {
  transform: translateY(-10px);
}
.subscribe-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 20px;
}
.subscribe-input {
  border-radius: 50px !important;
  padding: 10px 20px !important;
  width: calc(100% - 60px);
}

.subscribe-button {
  border-radius: 50px !important;
  padding: 10px 20px !important;
  margin-top: 20px !important;
  background-color: #17AF26 !important;
  color: white !important;
  transition: background-color 0.3s !important;
}
.subscribe-button:hover {
  background-color: #0056b3;
}
.badge2 {
    width: 1rem;
    height: 1rem;
    background: #ffc240;
    color: var(--dark-gray);
    font-size: 0.65rem;
    bottom: 5px;
    right: -5px;
}
.rounded-circle{
    position: absolute;
    transform: translate(50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    background-color: #74c0fc;
    color: white;
    font-size: 12px;
    font-weight: bold;
    border-radius: 50%;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}

.header__cart__quantity{
            font-family: var(--text);
            font-weight: 700;
            color: white;
            font-size: 9px;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            bottom: -10px;
            right: -10px;
            width: 18px;
            height: 18px;
            border: 0px;
            border-radius: 100%;
            z-index: 20;
            position: absolute;
            opacity: 0;
            visibility: hidden;
            background-color: var(--color-primary);

            // Animation
            animation-duration: 1s;
            animation-name: pulse;
            animation-fill-mode: both;
            animation-iteration-count: infinite;
        }