.card-product {
    display: flex;
    background-color: #ffff !important;
    flex-direction: column;
    justify-content: space-between;
    height: 100%; /* Ensure card takes full height */
    width: 100%;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
}

.product-image {
    height: 300px;
    overflow: hidden;
    position: relative;
    margin: auto;
}

.product-image img {
    width: 100%;
    height: 100%;
    object-fit: contain; /* Ensure image fits within the container */
    object-position: center;
}
.product-image figure {
	position: relative;
}
.product-image div::before {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 2;
	display: block;
	content: '';
	width: 0;
	height: 0;
	background: rgba(255,255,255,.2);
	border-radius: 100%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	opacity: 0;
}
.img_body{
    height: 300px;
    overflow: hidden;
    position: relative;
}
.product-image div:hover::before {
	-webkit-animation: circle .75s;
	animation: circle .75s;
}
@-webkit-keyframes circle {
	0% {
		opacity: 1;
	}
	40% {
		opacity: 1;
	}
	100% {
		width: 200%;
		height: 200%;
		opacity: 0;
	}
}
@keyframes circle {
	0% {
		opacity: 1;
	}
	40% {
		opacity: 1;
	}
	100% {
		width: 200%;
		height: 200%;
		opacity: 0;
	}
}
.price-info {
    margin-top: auto; /* Push price-info to the bottom */
    text-align: start; !important; /* Align text to the end */
}

.price-info-new {
    font-size: 2em !important;
}

.badge-discount {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: red;
    color: white;
    padding: 5px 10px;
    border-radius: 50%;
    font-size: 20px;
    font-weight: bold;
    z-index: 10;
}

.cart {
    bottom: -9px;
    right: 10px;
    font-size: 32px;
}

.price-container {
    margin-top: auto;
    text-align: end; /* Ensure text is aligned to the right */
}

.product_container{
    margin-top: 5vh;
}

.form-check-input:checked {
    background-color:#17AF26 !important;
}

.filter_title{
    color: #717378;
}

.btn-submit{
    background-color: #17AF26 !important;
}

.btn-remove{
    background-color: #F3FBF4 !important;
    color: red !important;
}

#sidebar-container{
display: block;
}


.swiper-slide {
    height: 100%; /* Az összes slide egyforma magasságú legyen */
    width: 250px; /* A slide-ok szélessége */
    display: flex;
    justify-content: center;
}

.ribbon {
    position: absolute;
    width: 120px;
    height: 30px;
    background: #28a745; /* Zöld szín */
    color: white;
    text-align: center;
    line-height: 30px;
    font-size: 14px;
    font-weight: bold;
    box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.2); /* Árnyék a beolvadáshoz */
}

