.product-detail-card {
            background-color: #ffffff;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            padding: 20px;
            margin-bottom: 40px;
        }

        .price-final {
            color: #d9534f;
            font-size: 1.75rem;
            font-weight: bold;
        }
        .similar-products {
            margin-top: 40px;
        }
        .similar-product-card img {
            border-radius: 8px;
            max-height: 180px;
            object-fit: cover;
        }
        .rating i {
            color: #f8c22e;
        }

        .pagination {
            margin-top: 30px;
        }
        .product-image-card {
    width: 90%;
    height: 100%;
    overflow: hidden;
    position: relative;
    margin: auto;
}


.product-image-card img {
    width: 100%;
    height: 100%;
    object-fit: contain; /* Ensure image fits within the container */
    object-position: center;
}

h3{
    margin-top: 1vh !important;
    font-size: 1.5rem !important;
}

p{
    line-height: 1.5rem !important;
    font-size: 1rem !important;
}

ul{
     font-size: 1.2rem !important;
     margin-bottom: 1vh !important;
}
 .tab-content .mt-5 {
 margin-top: 1px !important;
 }